<div class="well">
<h1>Product Info:</h1>

<h4>Name:</h4>
<h6><%= @product.name %></h6>
<% if @product.discounted? %>
  <p>Discounted Item!!!</p>
  <p class="discount-item">Price: $<%= @product.price %></p>
<% else %>
  <p>Price: <%= @product.price %></p>
<% end %>
<h4>Tax</h4>
<h6><%= @product.tax %></h6>
<h4>Total</h4>
<h6><%= @product.total %></h6>
<h4>Image:</h4>
<h6><%= @product.image %></h6>
<h4>Description:</h4>
<h6><%= @product.description %></h6>
</div>

<a class="btn btn-default" href="/products/<%= @product.id %>/edit">Update Product</a>
<p></p>
<%= form_tag "/products/#{@product.id}", method: :delete do %>
<input type="submit" value="Delete Product">
<% end %>
<p></p>
<a class="btn btn-default" href="/products">Back to all Products</a>
